<!DOCTYPE html>
<html lang="en">
    
<head>

    <title>Корзина</title>
    {% load static %}

    {% include 'includes/settings.html' %}
    <link rel="stylesheet" href="{% static 'css/basket.css' %}">


</head>
<body >

    {% include 'includes/menu.html' %}

    <div style="margin-top:2vw" class="row content-basket Indent">
        <div class="col-8">
            <div class="bookmarks-header ">

                <div class="d-flex">
                    <h1>КОРЗИНА</h1>
                    <span >14 товаров</span>
                </div>

                <a href="#">
                    <i class="fa fa-trash-o" style="margin-right: 5px;" aria-hidden="true"></i>

                    Удалить всё</a>

        
            </div>
            

            
            <div>
                <h5 class="h-books">
                    Товары в наличии
                </h5>

                {% for book in object_list %}

                <div class="books-basket">
                    <div class="book-info-basket">
                        <div class="book-info-basket-left">
                            <a href="#" class="img-basket-a">
                                {% if book.img == "" %}
                                    <img src={{book.img_local.url}}>
                                {% else %}
                                    <img src={{book.img}}>
                                {% endif %}
                            </a>

                            <div style="margin-left: 1vw;">
                                <h6>{{book.title}}</h6>
                                <span>{{book.author}}</span>
                            </div>
                        </div>

                        <div class="book-info-basket-right">
                            <h5 class="text-danger">{{book.price}} ₽</h5>

                            <div class="buttons-basket">
                                <a href="#" class="card-link btn btn-primary button-fav" ><i style="margin:auto" class="bi bi-bookmarks"></i></a>
                                <a href="#" class="card-link btn btn-primary button-fav">   
                                    <i style="margin:auto" class="fa fa-trash-o" aria-hidden="true"></i>

                                </a>
                            </div>

                        </div>
                    </div>
        
                </div>

                <hr noshade  size="2">

                {% endfor %}
                <div class="books-basket">
                    <div class="book-info-basket">
                        <div class="book-info-basket-left">
                            <a href="#">
                                <img src="https://content.img-gorod.ru/pim/products/images/45/6e/018fa22f-3bca-7c2d-8493-78d509c1456e.jpg?width=92&height=138&fit=bounds">
                            </a>

                            <div style="margin-left: 1vw;">
                                <h6>Падение</h6>
                                <span>Альбер Камю</span>
                            </div>
                        </div>

                        <div class="book-info-basket-right">
                            <h5 class="text-danger">500₽</h5>

                            <div class="buttons-basket">
                                <a href="#" class="card-link btn btn-primary button-fav" ><i style="margin:auto" class="bi bi-bookmarks"></i></a>
                                <a href="#" class="card-link btn btn-primary button-fav">
                                    <i style="margin:auto" class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

                <hr noshade  size="2">

                <div class="books-basket">
                    <div class="book-info-basket">
                        <div class="book-info-basket-left">
                            <a href="#">
                                <img src="https://content.img-gorod.ru/pim/products/images/45/6e/018fa22f-3bca-7c2d-8493-78d509c1456e.jpg?width=92&height=138&fit=bounds">
                            </a>

                            <div style="margin-left: 1vw;">
                                <h6>Падение</h6>
                                <span>Альбер Камю</span>
                            </div>
                        </div>

                        <div class="book-info-basket-right">
                            <h5 class="text-danger">500₽</h5>

                            <div class="buttons-basket">
                                <a href="#" class="card-link btn btn-primary button-fav" ><i style="margin:auto" class="bi bi-bookmarks"></i></a>
                                <a href="#" class="card-link btn btn-primary button-fav">
                                    <i style="margin:auto" class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </div>

                        </div>
                    </div>





                </div>

                <hr noshade  size="2">

                <div class="books-basket">
                    <div class="book-info-basket">
                        <div class="book-info-basket-left">
                            <a href="#">
                                <img src="https://content.img-gorod.ru/pim/products/images/45/6e/018fa22f-3bca-7c2d-8493-78d509c1456e.jpg?width=92&height=138&fit=bounds">
                            </a>

                            <div style="margin-left: 1vw;">
                                <h6>Падение</h6>
                                <span>Альбер Камю</span>
                            </div>
                        </div>

                        <div class="book-info-basket-right">
                            <h5 class="text-danger">500₽</h5>

                            <div class="buttons-basket">
                                <a href="#" class="card-link btn btn-primary button-fav" ><i style="margin:auto" class="bi bi-bookmarks"></i></a>
                                <a href="#" class="card-link btn btn-primary button-fav">
                                    <i style="margin:auto" class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </div>

                        </div>
                    </div>





                </div>
        
        
            </div>


        </div>
        <div class="col-3"></div>
    </div>

    {% include 'includes/footer.html' %}
</body>
</html>